name: ci
on: [ push, workflow_dispatch ]

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test-logged-in
        env:
          DEBUG: scraper:*
          LI_AT_COOKIE: ${{ secrets.LI_AT_COOKIE }}

      - name: Publish-Latest
        if: contains(github.ref, 'latest') # Tag commit with 'latest' string to publish
        run: |
          npm set registry "https://registry.npmjs.org"
          npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_PUBLISH_TOKEN }}
          npm publish --tag latest

      - name: Publish-Next
        if: contains(github.ref, 'next') # Tag commit with 'latest' string to publish
        run: |
          npm set registry "https://registry.npmjs.org"
          npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_PUBLISH_TOKEN }}
          npm publish --tag next
